@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap');

:root {
    --DarkBlue: hsl(209, 23%, 22%); /* (Dark Mode Elements) */
    --VeryDarkBlue: hsl(207, 26%, 17%); /* (Dark Mode Background) */
    --VeryDarkBlueText: hsl(200, 15%, 8%); /* (Light Mode Text) */
    --DarkGray: hsl(0, 0%, 52%); /* (Light Mode Input) */
    --VeryLightGray: hsl(0, 0%, 98%); /* (Light Mode Background) */
    --White: hsl(0, 0%, 100%); /* (Dark Mode Text & Light Mode Elements) */

    --HomeFontSize: 14px;
    --DetailsFontSize: 16px;
}

*, *:before, *:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    font-family: 'Nunito Sans', sans-serif !important;
    background-color: var(--VeryLightGray);
    color: var(--VeryDarkBlueText);
}

img { display: block; max-width: 100%; }
.fw300 { font-weight: 300; }
.fw600 { font-weight: 600; }
.fw800 { font-weight: 800; }

/* Dark Mode */

body.dark {
    background-color: var(--VeryDarkBlue);
    color: var(--White);
}

body.dark .toggle-btn,
body.dark #regionDropBtn,
body.dark .dropdown-item,
body.dark .prev-btn,
body.dark .countries-card,
body.dark #search-country::placeholder {
    color: var(--White);
}

body.dark .dropdown-item:hover {  background-color: var(--VeryDarkBlue); }

body.dark input.form-control,
body.dark .dropdown,
body.dark .dropdown-menu,
body.dark header,
body.dark .countries-modal,
body.dark .prev-btn,
body.dark .countries-card { 
    background-color: var(--DarkBlue); 
}

/* End Dark Mode */

header {
    box-shadow: 0 6px 20px rgba(0, 0, 0, .1);
    height: 70px;
}

main {
    width: 100%;
    height: calc(100% - 70px);
}

.countries-container { position: relative; }

.search-container input,
#regionDropBtn {
    padding: .5rem;
    border: none;
    outline: none;
    border-radius: .25rem !important;
    box-shadow: 0 6px 20px rgba(126, 113, 113, 0.1);
    min-width: 10rem;
    position: relative;
}

.search-container>div {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.search-container>div span {
    position: absolute;
    z-index: 1;
    left: .5rem;
    top: .5rem;
}

.search-container input {
    min-width: 20rem;
    padding-left: 2rem;
}

.filter-container {
    align-items: center;
    justify-content: flex-end;
}

.countries-content {
    width: 100%;
    height: 100%;
    position: relative;
}

.dropdown-item { text-transform: capitalize; }

.countries-card {
    position: relative;
    width: 260px;
    height: 300px;
    border-radius: .25rem;
    background-color: var(--white);
    box-shadow: 0 6px 20px rgba(0, 0, 0, .1);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    cursor: pointer;
    color: var(--VeryDarkBlueText);
}

.countries-card-top {
    width: 100%;
    height: 50%;
    overflow: hidden;
}

.countries-card-top img {
    border-radius: .25rem .25rem 0 0;
    width: 100%;
    height: 100%;
}

.countries-card-bottom {
    width: 100%;
    height: 50%;
    padding: .5rem 1rem;
}

.countries-name {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}


.countries-modal {
    background-color: var(--white);
    position: absolute;
    top: 70px;
    left: 0%;
    width: 100%;
    height: calc(100% - 70px);
    z-index: 2;
    display: none;
    overflow: hidden;
}

.prev-btn {
    box-shadow: 0 6px 20px rgba(0, 0, 0, .2);
    min-width: 130px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.modal-country-flag img { width: 75%; }

@media screen and (min-width:375px) {
    .app-title { font-size: 1rem; }

    .filter-container {
        justify-content: flex-start;
        align-items: flex-start;
        margin-top: 1rem;
    }

    .countries-content, .countries-row, .countries-modal-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .modal-country-flag img { width: 100%; }
    .modal-country-name { font-weight: 800; }
}

@media screen and (min-width:768px) {
    .app-title { font-size: 1rem; }

    .filter-container {
        justify-content: flex-end;
        align-items: center;
        margin-top: 0rem;
    }

    .countries-content, .countries-row, .countries-modal-content {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
}

@media screen and (min-width:1440px) {
    .modal-country-flag img { width: 85%; }

}

